/* --------VARIABLES */
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

:root {
  --burg: rgb(139, 15, 61);
  --white: rgb(224, 220, 214);
  --black: rgb(43, 43, 43);
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  text-align: center;
}

/* --------PAGE */
html {
  background-color: white;
  color: black;
  scroll-behavior: smooth;
  text-align: center;
}

body {
  --white: rgb(224, 220, 214);

  color: black;
  font-size: 2rem;
}

h1 {
  color: var(--burg);
  font-size: 300%;
}

h2 {
  color: var(--burg);
  font-style: italic;
  font-size: 3rem;
}

#manabiz {
  font-size: 2rem;
  background-color: #262626;
  color: white;
}

.header-bn {
  font-size: 300%;
  background-color: #262626;
  color: white;
}

#headerrow {
  background-color: #262626;
  color: white;
  margin-left: 0;
  margin-right: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  margin-top: 0;
}

th {
  background-color: var(--burg);
  border: 1px solid black;
  color: white;
  text-align: center;
}

.main-h2 {
  margin-top: 30px;
}

.header-h1 {
  font-size: 4em;
}

header {
  border-bottom-color: black;
  border-bottom-style: groove;
}

input[type=submit] {
  border-radius: 0 5px 0 0;
}

table {
  width: 75vw;
  margin: 0 auto;
  border-spacing: 1px;
}

.whitebg {
  background-color: var(--burg);
}

.logindiv > input[type=submit],
a,
.burgbox {
  color: black;
  border-style: groove;
  border-color: black;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  margin: 3px;
}

li a {
  text-align: left;
  border: none;
  font-size: 4rem;
}

.a {
  color: black;
  border-color: black;
}

.burgbordered,
input[type=text],
input[type=tel],
input[type=number],
input[type=email],
input[type=password],
input[type=date] {
  border: 3px solid var(--burg);
  display: inline-block;
  padding: 10px;
  background-color: white;
  margin: 3px;
}

input[type=checkbox] {
  border: 2px solid var(--burg);
}

/* --------FOOTER */
footer {
  margin-top: 50%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #262626;
  text-align: center;
  color: white;
  border-top: solid 20px black;
}

footer h2,
footer address {
  width: 40%;
  color: white;
  background-color: #262626;
}

footer address a {
  text-align: right;
  color: white;
}

.container {
  margin-top: 15%;
  width: 100%;
  height: 405px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.right-container {
  text-align: right;
}

.left-container {
  text-align: left;
}

.footer-h2 {
  font-size: 3em;
  color: white;
}

/* --------NAV BAR */
img {
  float: left;
}

.right {
  float: right;
}

.info {
  margin-top: 4em;
  margin-bottom: 8em;
}

.home {
  margin-top: 14rem;
}

.sign {
  position: absolute;
  right: 0;
  margin-right: 1em;
  top: 2em;
}

.a:hover {
  background-color: black;
  color: white;
}

.php {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: auto;
  width: 50;
}

li {
  list-style: none;
}

ul {
  list-style: none;
  color: white;
}

ul li {
  display: inline;
  color: black;
}

.switch {
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

#leftbox {
  float: left;
  width: 100%;
  height: 100%;
}

.slider.round::before {
  border-radius: 50%;
}

.slider.round {
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "Edit";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider {
  background-color: #2196f3;
}

label {
  display: inline-block;
  float: center;
  clear: left;
  width: 250px;
  text-align: center;
}

input {
  display: inline-block;
  float: center;
}

th input {
  color: black;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.Theader {
  color: black;
}

.row {
  width: 100%;
  color: black;
}

.column {
  float: left;
  width: calc(100% / 3);
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

.nav a {
  border: groove;
  border-color: black;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #262626;
  border-right: groove;
  border-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-left: 0;
  z-index: 1;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: white;
  border-bottom: groove;
  border-color: var(--burg);
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 3rem;
  cursor: pointer;
  background-color: #262626;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: var(--burg);
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

a.closebtn {
  border: none;
}

.content-table {
  border-collapse: collapse;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid --var(--burg);
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

#submit,
#upload {
  border: black groove;
}

#submit:hover,
#upload:hover {
  color: white;
  background-color: var(--burg);
}

.tox-checklist li {
  color: black;
  display: block;
  list-style-type: disc;
  text-align: left;
}

.tox-checklist > li:not(.tox-checklist--hidden) {
  list-style: none;
  margin: 0.25em 0;
  position: relative;
}

.tox-checklist > li:not(.tox-checklist--hidden)::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cg%20id%3D%22checklist-unchecked%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20id%3D%22Rectangle%22%20width%3D%2215%22%20height%3D%2215%22%20x%3D%22.5%22%20y%3D%22.5%22%20fill-rule%3D%22nonzero%22%20stroke%3D%22%234C4C4C%22%20rx%3D%222%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E%0A");
  background-size: 100%;
  content: '';
  cursor: pointer;
  height: 1em;
  left: -1.5em;
  position: absolute;
  top: 0.125em;
  width: 1em;
}

#rowmargin {
  margin-top: 4rem;
  margin-left: 0;
  margin-right: 0;
}

.boxx {
  width: 90%;
  color: black;
  margin: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 100%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear 1s; /* Safari */
  animation: spin 2s linear 1s;
  margin: auto;
}

#denied {
  border-top: 16px solid rgb(139, 15, 61);
  border-right: 16px solid rgb(139, 15, 61);
}

#approved {
  border-top: 16px solid #3498db;
  border-right: 16px solid #3498db;
}

#total {
  border-top: 16px solid rgb(139, 15, 61);
  border-right: 16px solid rgb(139, 15, 61);
  border-bottom: 16px solid #3498db;
  border-left: 16px solid #3498db;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.boxed {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 50%;
  margin: auto;
}

li h3 {
  color: white;
}

li .logout {
  color: white;
}

.eap {
  width: 75px;
  height: 75px;
}

form li {
  text-align: left;
  display: list-item;
}

.vrform {
  text-align: left;
}

label input[type="radio"] {
  margin: auto;
}

section label {
  font-size: 3rem;
}

.vrsubmit {
  text-align: center;
  width: 100%;
  font-size: 3rem;
}

.vrform2 {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: auto;
  margin-top: 2rem;
  width: fit-content;
}

.vrform2 tbody tr {
  border-bottom: 1px solid #ddd;
}

input[type="checkbox"] {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

input[type="checkbox"] > span {
    color: #34495E;
    padding: 0.5rem 0.25rem;
}

input[type="checkbox"] {
    height: 25px;
    width: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #34495E;
    border-radius: 4px;
    outline: none;
    background-color: var(--burg);
    transition-duration: 0.3s;
    cursor: pointer;
  }

input[type="checkbox"]:checked {
    border: 1px solid #41B883;
    background-color: #41B883;
    color: black;
}

input[type="checkbox"]:checked + span::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: #41B883;
    position: absolute;
    left: 0.7rem;
    top: 0.2rem;
}

input[type="checkbox"]:active {
    border: 2px solid #34495E;
}

.uimg {
  height: 30px;
  width: 30px;
}

.openbtn-users {
  cursor: pointer;
  color: white;
}

.openbtn-users:hover {
  text-decoration: none;
  background-color: var(--burg);
  color: white;
  border-color: white;
}

.usersh1 {
  color: white;
  border-bottom: groove white;
}

.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 867px;
  margin: 25px 10px;
  height: calc(100% - 50px);
  border: var(--border);
  border-radius: 5px;
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msger-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: var(--border);
  background: #eee;
  color: #666;
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
.msger-chat::-webkit-scrollbar {
  width: 6px;
}
.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}
.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.msg:last-of-type {
  margin: 0;
}
.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: black;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
  color: black;
}
.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}
.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}
.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.msger-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #eee;
}
.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}
.msger-input {
  flex: 1;
  background: #ddd;
}
.msger-send-btn {
  margin-left: 10px;
  background: var(--burg);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}
.msger-send-btn:hover {
  background: rgb(0, 180, 50);
}

.msger-chat {
  background-color: #fcfcfe;
  border-left: groove black;
}

.msg-text {
  color: black;
}

#container {
  box-shadow: 2px 2px 10px grey;
  width: 90%;
  height: 140rem;
  margin: 2% auto;
  border-radius: 1%;
  overflow: initial;
  text-align: left;
}

#menu {
  background: var(--burg);
  color: white;
  padding: 1%;
  font-size: 4rem;
  text-align: left;
}

#left-col, #right-col {
  position: relative;
  float: left;
  height: 90%;
}

#left-col {
  width: 30%;
}

#right-col {
  width: 69%;
  border: 1px solid #efefef;
}

#left-col-container {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  overflow: auto;
}

#right-col-container {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  overflow: auto;
}

.grey-back {
  border: 1px solid black;
  padding: 5px;
  background: #efefef;
  margin: 0px auto;
  margin-top: 2px;
  overflow: auto;
}

.mImage {
  float: left;
  width:50px;
  margin-right: 5px;
  height: 50px;
}

.mtextarea {
  width: 99%;
  height: 10%;
  margin: 0px auto;
  margin-top: 2rem;

}

#messages-container {
  height: 85%;
  overflow: auto;
  margin-top: 10rem;
}

.grey-message, .blue-message {
  border: 1px solid black;
  margin: 0px auto;
  overflow: auto;
  margin-top: auto;
  margin-bottom: 20px;
  max-width: 75%;
  width: 100%;
  border-radius: 15px;
  padding: 10px 20px;
  color: black;

}

.blue-message {
  text-align: right;
  margin-right: 0px;
  background-color: #5fc9f8;
  width: 40%;


}

.blue-p {
  text-align: right;
}

.grey-message {
  text-align: left;
  margin-left: 0px;
  background-color: #efefef;
  width: 40%;

}

.grey-p {
  text-align: left;
}

#new-message {
  box-shadow: 2px 10px 30px #000;
  width: 500px;
  position: fixed;
  top: 20%;
  background: white;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 5px;
  overflow: auto;
  display: none;
}

.m-header, .m-footer {
  background: var(--burg);
  color: white;
  margin: 0px;
  padding: 5px;
}

.m-header {
  font-size: 20px;
  text-align: center;
}

.m-body {
  padding: 5px;
}

.mheader {
  font-size: 4rem;
  height: 8rem;
  width: -webkit-fill-available;
  background-color: white;
  color: #2095FE;
  background: #eee;
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  box-shadow: 0 1px 2px rgba(1,1,1,0.2);
  position: absolute;
}

.message-input {
  width: 96%;
}

button[disabled], html input[disabled] {
  background: grey;
}

#send {
  border: black groove;
}

#send[disabled]:hover {
  background: url(https://cdn4.iconfinder.com/data/icons/small-color-v2/512/ban_blocked_cancel_forbidden_lock_prohibited-512.png);
  border: none;
  cursor: not-allowed;
}

#send:hover {
  color: white;
  background-color: var(--burg);
}

.blue-message {
	color:white;
	background:#0B93F6;
	align-self: flex-end;

	&:before {
		right:-7px;
		border-right:20px solid #0B93F6;
		border-bottom-left-radius: 16px 14px;
		transform:translate(0, -2px);
	}

	&:after {
		right:-56px;
		width:26px;
		background:white;
		border-bottom-left-radius: 10px;
		transform:translate(-30px, -2px);
	}
}
.grey-message {
	background:#E5E5EA;
	color:black;

	&:before {
		left:-7px;
		border-left:20px solid #E5E5EA;
		border-bottom-right-radius: 16px 14px;
		transform:translate(0, -2px);
	}

	&:after {
		left:4px;
		width:26px;
		background:white;
		border-bottom-right-radius: 10px;
		transform:translate(-30px, -2px);
	}
}

.grey-p, .blue-p {
  max-width: 255px;
  word-wrap: break-word;
  margin-bottom: 12px;
  line-height: 24px;
  position:relative;
	padding:10px 20px;
  border-radius:25px;

  &:before, &:after {
    content:"";
		position:absolute;
    bottom:-2px;
    height:20px;
  }
}

.mContacts {
  color: black;
  padding: 10px;
  display: flex;
  text-decoration: none;
  margin: 3px;
  border: none;
  border-bottom: groove black;
  font-size: 2.5rem;
}

.mContacts:hover {
  border-bottom-color: var(--burg);
  text-decoration: none;
  font-weight: bolder;
  color: var(--burg);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#message-box {
  height: 60em;
  overflow: scroll;
}
